@keyframes gradient-border {
    0% {
        border-image-source: linear-gradient(90deg, #ff6ec4, #7873f5);
    }
    50% {
        border-image-source: linear-gradient(90deg, #7873f5, #ff6ec4);
    }
    100% {
        border-image-source: linear-gradient(90deg, #ff6ec4, #7873f5);
    }
}

.animated-border {
    display: inline-block;
    padding: 4px; /* Adjust padding to fit the button within the border */
    border: 4px solid transparent;
    border-image-slice: 1;
    border-radius: 50px; /* Adjust based on your desired roundness */
    border-image-source: linear-gradient(90deg, #ff6ec4, #7873f5);
    animation: gradient-border 3s infinite;
}
